{%extends 'homeTemplate/loggedOutBase.html'%}

{%block content%}
<div>
    
    <form class ="col-md-4 offset-md-4 " action="" method=POST>
        {%csrf_token%}
        <div class="form-group ">
          <label for="exampleInputEmail1">Search for item</label>
          <input type="text" class="form-control" name="ItemSearch" aria-describedby="text" placeholder="Search for item">
          <small id="text" class="form-text text-muted">Search for item</small>
        </div>
      
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

 


        <div class="container  ">
          <div class="row">
              {% for pro in product %}
                  {% if forloop.counter3|divisibleby:2 and not forloop.first %}<div class="w-300 "></div>{% endif %}

                <div class =" col  my-2 d-flex p-2 bd-highlight">

                      <div class="card" style="width: 15rem;" >
                        <img class="card-img-top" src="{{ pro.product_image.url}}" alt="Products">
                        <div class="card-body">
                          <h5 class="card-title">Name:{{ pro.product_name }}</h5>
                          <p class="card-text"> Price:Ksh{{pro.product_price}} </p>
                          <p class="card-text"> Category:{{pro.product_category}} </p>
                          <p class="card-text"> Sub Category:{{pro.product_sub_category}} </p>
                        
                          <p><a href="{% url 'AddCart' pro.id %}" class="btn btn-primary" role="button" aria-pressed="true">Add to cart </a></p>

                        </div>
                      </div>
                </div>
              {% endfor %}
          </div>



     
</div>

{%endblock%}