{%extends 'adminUserTemplate/adminBaseTemplate.html'%}

{%block content%}
    <div>
        <h3 class ="col-md-4 offset-md-4">All Product Category</h3> 
        <div  class ="mx-4">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
               
              </tr>
            </thead>
            <tbody>

                {% for c  in category %}
              <tr>
                <th scope="row">{{c.id}}</th>
                <td>{{c.product_category_name}}</td>
             
              </tr>
              {%endfor%}

            </tbody>
          </table>
          
        </div>
    </div>

{%endblock%}