{%extends 'adminUserTemplate/adminBaseTemplate.html'%}

{%block content%}
    <div>

        <h3 class ="col-md-4 offset-md-4">All Product Sub  Category</h3> 

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Sub Category</th>
               
              </tr>
            </thead>
            <tbody>

                {% for sub  in sub_category %}
              <tr>
                <th scope="row">{{sub.id}}</th>
                <td>{{sub.product_category}}</td>
                <td>{{sub.product_sub_category_name}}</td>
             
              </tr>
              {%endfor%}

            </tbody>
          </table>
    
 
    </div>

{%endblock%}